tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

body {
margin: 0;
padding: 0;
}

html, button, input, select, textarea, body, ul, li {
font-family: verdana,arial,sans-serif;
}


table {
	font-size:13px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	margin: 5px;
	padding: 5px;

}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}

